.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 1vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*=================================================================================*/

/*=================================================================================*/


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  /*flex-direction: column;*/
}

.header-title {
  margin-bottom: 10px;
}

.user-bar a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.links-list{
  margin-left: 5%;
  display:flex;
  list-style: none;
  padding: 0;
}
.links-list li{
  margin-right: 10px;
  font-size: 14pt;
}
.links-list li a:hover{
  color:limegreen;
  /*background-color: red;*/
}

.login-form {
  max-width: 40%;
  margin: 0 auto;
  align-items: end;
}

.login-form-input{
  width: 100pt;
}

.register-form{
  margin: 0 40% 0 35%;
}

label {
  /*display: block;*/
  /*margin-bottom: 5px;*/
}

input {
  width: inherit;
  padding: 3pt;
  /*margin-bottom: 10px;*/
  /*margin-left: 1pt;*/
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

Button{
  padding:4pt;
}

button:hover {
  background-color: #45a049;
}

select{
  width: inherit;
  overflow: auto;
}

.title {
  text-align: center;
  padding: 20px;
}

.fields-container {
  width: auto;
  text-align: center;
  margin: 0 auto; /* centers the box */
  border: 1px solid #000; /* add a border */
  padding: 20px; /* add some padding */
  box-sizing: border-box; /* makes sure the padding and border are included in the width */
}

@media (max-width: 600px) {
  .fields-container {
    width: auto;
  }
}

.search-bar-btn{
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

.ingredient-search-result{
  /*width: 100%;*/
  /*font-size:0pt;*/
  /*margin: 0pt;*/
}

.ingredient-search-results{
  height: 50vh;
  overflow: auto;
}

.ingredient-search-result-btn{
  width: 100%;
  height: 40pt;
  margin: 2pt;

}

.ingredient-search-selected{
    /*width: 100%;*/
    list-style-type: none;
    margin: 5pt;
}

.ingredient-search-searchbar{
    width: 100%;
    margin: 5pt;
}

.inventory-items{
  height: 80vh;
  overflow: auto;
  list-style-type: none;
}

.inventory-item-card{
  width: 95%;
  margin: 2pt;
  /*display: flex;*/
}

.inventory-item{
  text-align: start;
  width: 100%;
  padding: 5pt;
  padding-left: 5%;
  margin: 0pt;
  display: flex;
}

.inventory-item-input{
  width: 70pt;
  height: 3vh;
  display: flex;
}

.search-root{
  width: auto;
  display: flex;
  min-width: 100%;
}

.search-bar{
  width: 50%;
  min-width: 20vw;
}

.search-results{
  width: 10%;
  min-width: 300pt;
  height: 79vh;
  /*overflow: auto;*/
  display: flex;
}

.fields-container{
  display: inline-block;
}







.recipe-page{
  text-align: center;
  margin: 0pt 20% 0pt 20%;
}

.recipe-list{
  text-align: center;
  overflow: auto;
  height: 90%;
}

.recipe-list li {
  text-align: left;
  margin: 0 0 0 12%;
}